.hero_section {
  background-image: url("./images/armchair.png");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 604px;
  color: $white-color;

  .main_texts_wrapper {
    padding-top: 192px;
    width: 308px;

    h2 {
      @include h1-text;
    }

    p {
      margin: 50px 0;
      @include caption-text;
    }

    .button {
      border: 2px solid $white-color;
    }
  }
}
