.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 40px 9px 39px;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}
